<h1>New Exercise for <%= current_user.full_name %></h1>

<%= render 'form' %>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-8 col-md-offset-2">
			<%= link_to "Cancel", new_user_exercise_path, class: "btn btn-primary link", id: "new-exer-btn" %>
		</div>
	</div>
</div>